body {
  margin: 0;
  padding: 25;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input {
  margin-bottom: 25px;
  padding: 25px; 
}

#hidden-card {
  height: 450px;
  width: 305px !important;
  overflow: scroll;
  overflow-x: hidden;
}

#ratings {
  margin-left: 18px;
  margin-right: 18px;
}

#reviews {
  margin-left: 16px;
  margin-right: 16px;
}

.ui.card,
.ui.cards > .card {
  box-shadow: none !important;
}

#list-nav {
  margin-left: 45px; 
  margin-top: 25px; 
}

.ui.divided.items {
  padding: 25px; 
}

#delete-button {
  margin-right: 75px; 
}

.bookshop-button {
  margin-left: 10px; 
}

